In [8]:
!pip install openpyxl

import openpyxl
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in /home/vscode/.local/lib/python3.11/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /home/vscode/.local/lib/python3.11/site-packages (from openpyxl) (2.0.0)

In [9]:
projetos_por_municipios = pd.read_excel('Projetos por Munic√≠pios.xlsx', engine='openpyxl')
estudantes_por_projeto = pd.read_excel('Relat√≥rio M√∫sica na Rede1.xlsx', engine='openpyxl')

In [10]:
projetos_por_municipios.head()

  TOTAL DE MUNIC√çPIOS  VIOL√ïES  CORAIS  BANDAS ORQUESTRA
0      Afonso Claudio  VIOL√ïES  CORAIS  BANDAS       NaN
1  √Ågua Doce do Norte      NaN     NaN     NaN       NaN
2        √Åguia Branca      NaN     NaN     NaN       NaN
3              Alegre  VIOL√ïES  CORAIS  BANDAS       NaN
4      Alfredo Chaves  VIOL√ïES     NaN     NaN       NaN

In [11]:
def tratar_dados_musica_rede(df):
    # Renomear a primeira coluna
    df = df.rename(columns={'TOTAL DE MUNIC√çPIOS': 'MUNIC√çPIO'})
    
    # Lista dos projetos
    projetos = ['VIOL√ïES', 'CORAIS', 'BANDAS', 'ORQUESTRA']
    
    # Criar coluna indicadora dos projetos presentes
    def obter_projetos_presentes(row):
        projetos_presentes = []
        for projeto in projetos:
            if pd.notna(row[projeto]) and row[projeto] != '':
                projetos_presentes.append(projeto)
        return ', '.join(projetos_presentes) if projetos_presentes else 'NENHUM'
    
    df['PROJETOS_PRESENTES'] = df.apply(obter_projetos_presentes, axis=1)
    
    # Filtrar apenas munic√≠pios com pelo menos um projeto
    df_filtrado = df[df['PROJETOS_PRESENTES'] != 'NENHUM'].copy()
    
    # Resetar √≠ndice
    df_filtrado = df_filtrado.reset_index(drop=True)
    
    print(f"‚úÖ Dados tratados: {len(df_filtrado)} munic√≠pios com projetos")
        
    # SALVAR ANTES DE RETORNAR
    df_filtrado.to_excel('projetos_tratados.xlsx', index=False)
    print("üíæ Arquivo 'projetos_tratados.xlsx' salvo com sucesso!")
        
    return df_filtrado

# üöÄ EXECUTAR A FUN√á√ÉO

df_tratado = tratar_dados_musica_rede(projetos_por_municipios)

if df_tratado is not None:
    print("\nüìä Resumo:")
    print(f"Total de munic√≠pios com projetos: {len(df_tratado)}")
    print("\nPrimeiras linhas:")
    print(df_tratado[['MUNIC√çPIO', 'PROJETOS_PRESENTES']].head())
else:
    print("Falha ao processar os dados.")

‚úÖ Dados tratados: 50 munic√≠pios com projetos
üíæ Arquivo 'projetos_tratados.xlsx' salvo com sucesso!

üìä Resumo:
Total de munic√≠pios com projetos: 50

Primeiras linhas:
        MUNIC√çPIO       PROJETOS_PRESENTES
0  Afonso Claudio  VIOL√ïES, CORAIS, BANDAS
1          Alegre  VIOL√ïES, CORAIS, BANDAS
2  Alfredo Chaves                  VIOL√ïES
3   Alto Rio Novo                  VIOL√ïES
4        Anchieta                  VIOL√ïES

In [ ]:
# Lista dos projetos
projetos = ['VIOL√ïES', 'CORAIS', 'BANDAS', 'ORQUESTRA']

# Dicion√°rio para armazenar os dataframes de cada projeto
dfs_por_projeto = {}


for projeto in projetos:
   
    # Seleciona apenas os munic√≠pios que possuem o projeto atual
    df_projeto = df_tratado[df_tratado[projeto].notna() & (df_tratado[projeto] != '')].copy()
    # Mant√©m apenas as colunas relevantes
    df_projeto = df_projeto[['MUNIC√çPIO', projeto]].rename(columns={projeto: 'DETALHE_PROJETO'})
    dfs_por_projeto[projeto] = df_projeto

# Agora, por exemplo, dfs_por_projeto['VIOL√ïES'] cont√©m os munic√≠pios com apenas o projeto VIOL√ïES
# Para acessar os dataframes:
df_violao = dfs_por_projeto['VIOL√ïES']
df_corais = dfs_por_projeto['CORAIS']
df_bandas = dfs_por_projeto['BANDAS']
df_orquestra = dfs_por_projeto['ORQUESTRA']

# Exemplo de visualiza√ß√£o
df_violao.head()
df_corais.head()
df_bandas.head()
df_orquestra.head()

        MUNIC√çPIO DETALHE_PROJETO
0  Afonso Claudio         VIOL√ïES
1          Alegre         VIOL√ïES
2  Alfredo Chaves         VIOL√ïES
3   Alto Rio Novo         VIOL√ïES
4        Anchieta         VIOL√ïES

In [15]:
display(df_violao)
display(df_corais)
display(df_bandas)
display(df_orquestra)

                  MUNIC√çPIO DETALHE_PROJETO
0            Afonso Claudio         VIOL√ïES
1                    Alegre         VIOL√ïES
2            Alfredo Chaves         VIOL√ïES
3             Alto Rio Novo         VIOL√ïES
4                  Anchieta         VIOL√ïES
6                   Aracruz         VIOL√ïES
7              Baixo Guandu         VIOL√ïES
9             Boa Esperan√ßa         VIOL√ïES
10  Cachoeiro de Itapemirim         VIOL√ïES
11                Cariacica         VIOL√ïES
13                 Colatina         VIOL√ïES
14   Divino de S√£o Louren√ßo         VIOL√ïES
15         Domingos Martins         VIOL√ïES
16       Dores do Rio Preto         VIOL√ïES
17               Ecoporanga         VIOL√ïES
19                Guarapari         VIOL√ïES
20                  Ibatiba         VIOL√ïES
22                Ibitirama         VIOL√ïES
23                   Iconha         VIOL√ïES
25               Itapemirim         VIOL√ïES
26                     I√∫na         VIOL√ïES
27         Laranja da Terra         VIOL√ïES
29             Manten√≥polis         VIOL√ïES
31            Mimoso do Sul         VIOL√ïES
33                    Muqui         VIOL√ïES
35                    Pi√∫ma         VIOL√ïES
36       Presidente Kennedy         VIOL√ïES
38    Santa Maria de Jetib√°         VIOL√ïES
39             Santa Teresa         VIOL√ïES
40    S√£o Domingos do Norte         VIOL√ïES
41     S√£o Gabriel da Palha         VIOL√ïES
43               S√£o Mateus         VIOL√ïES
44                    Serra         VIOL√ïES
46                    Viana         VIOL√ïES
47             Vila Val√©rio         VIOL√ïES
48               Vila Velha         VIOL√ïES
49                  Vitoria         VIOL√ïES

                  MUNIC√çPIO DETALHE_PROJETO
0            Afonso Claudio          CORAIS
1                    Alegre          CORAIS
5                    Apiac√°          CORAIS
8    Barra de S√£o Francisco          CORAIS
10  Cachoeiro de Itapemirim          CORAIS
11                Cariacica          CORAIS
13                 Colatina          CORAIS
19                Guarapari          CORAIS
24                    Irupi          CORAIS
28                 Linhares          CORAIS
30               Maril√¢ndia          CORAIS
34             Nova Ven√©cia          CORAIS
37         Santa Leopoldina          CORAIS
44                    Serra          CORAIS
46                    Viana          CORAIS
48               Vila Velha          CORAIS
49                  Vitoria          CORAIS

                  MUNIC√çPIO DETALHE_PROJETO
0            Afonso Claudio          BANDAS
1                    Alegre          BANDAS
6                   Aracruz          BANDAS
7              Baixo Guandu          BANDAS
10  Cachoeiro de Itapemirim          BANDAS
11                Cariacica          BANDAS
12                  Castelo          BANDAS
18                   Gua√ßu√≠          BANDAS
21                  Ibira√ßu          BANDAS
23                   Iconha          BANDAS
25               Itapemirim          BANDAS
28                 Linhares          BANDAS
29             Manten√≥polis          BANDAS
31            Mimoso do Sul          BANDAS
32             Muniz Freire          BANDAS
33                    Muqui          BANDAS
38    Santa Maria de Jetib√°          BANDAS
41     S√£o Gabriel da Palha          BANDAS
42      S√£o Jose do Calcado          BANDAS
43               S√£o Mateus          BANDAS
44                    Serra          BANDAS
45              Vargem Alta          BANDAS
48               Vila Velha          BANDAS
49                  Vitoria          BANDAS

                  MUNIC√çPIO DETALHE_PROJETO
10  Cachoeiro de Itapemirim       ORQUESTRA
11                Cariacica       ORQUESTRA
44                    Serra       ORQUESTRA
48               Vila Velha       ORQUESTRA
49                  Vitoria       ORQUESTRA

In [16]:
df_violao.to_csv('df_violao.csv', index=False)
df_corais.to_csv('df_corais.csv', index=False)
df_bandas.to_csv('df_bandas.csv', index=False)
df_orquestra.to_csv('df_orquestra.csv', index=False)

In [13]:
estudantes_por_projeto.head()

,Projeto,Alunos ativos 2023,Alunos atendidos 2023,Alunos ativos 2024,Alunos atendidos 2024,Alunos ativos 2025,Alunos atendidos 2025
0,Orquestras de Viol√µes nas Escolas,1863,3441,2694,3295,2129,2720
1,Corais nas Escolas,701,1158,853,1434,1070,1489
2,Bandas nas Escolas,1044,1282,972,1356,912,1289
3,Orquestra Jovem,307,476,280,501,440,464
4,Total,3915,6357,4799,6586,4551,5962

In [17]:
# Renomear os projetos conforme solicitado
mapa_projetos = {
    'Orquestras de Viol√µes nas Escolas': 'VIOL√ïES',
    'Corais nas Escolas': 'CORAIS',
    'Bandas nas Escolas': 'BANDAS',
    'Orquestra Jovem': 'ORQUESTRA'
}

estudantes_por_projeto['Projeto'] = estudantes_por_projeto['Projeto'].replace(mapa_projetos)

# Selecionar apenas as colunas de interesse
colunas_anos = ['Projeto', 'Alunos atendidos 2023', 'Alunos atendidos 2024', 'Alunos atendidos 2025']

# Gerar um dataframe para cada projeto
df_violao_estudantes = estudantes_por_projeto[estudantes_por_projeto['Projeto'] == 'VIOL√ïES'][colunas_anos].reset_index(drop=True)
df_corais_estudantes = estudantes_por_projeto[estudantes_por_projeto['Projeto'] == 'CORAIS'][colunas_anos].reset_index(drop=True)
df_bandas_estudantes = estudantes_por_projeto[estudantes_por_projeto['Projeto'] == 'BANDAS'][colunas_anos].reset_index(drop=True)
df_orquestra_estudantes = estudantes_por_projeto[estudantes_por_projeto['Projeto'] == 'ORQUESTRA'][colunas_anos].reset_index(drop=True)

display(df_violao_estudantes)
display(df_corais_estudantes)
display(df_bandas_estudantes)
display(df_orquestra_estudantes)

,Projeto,Alunos atendidos 2023,Alunos atendidos 2024,Alunos atendidos 2025
0,VIOL√ïES,3441,3295,2720

  Projeto  Alunos atendidos 2023  Alunos atendidos 2024  Alunos atendidos 2025
0  CORAIS                   1158                   1434                   1489

  Projeto  Alunos atendidos 2023  Alunos atendidos 2024  Alunos atendidos 2025
0  BANDAS                   1282                   1356                   1289

,Projeto,Alunos atendidos 2023,Alunos atendidos 2024,Alunos atendidos 2025
0,ORQUESTRA,476,501,464

In [19]:
df_violao_estudantes.to_csv('df_violao_estudantes.csv', index=False)
df_corais_estudantes.to_csv('df_corais_estudantes.csv', index=False)
df_bandas_estudantes.to_csv('df_bandas_estudantes.csv', index=False)
df_orquestra_estudantes.to_csv('df_orquestra_estudantes.csv', index=False)